body{
    font-family:Arial;
}
.container{
    max-width:1020px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #685995;
    border-radius: 5px;
}

h1,h2,h3,h4,h5,h6{
    color: #3D267F;
    text-transform: uppercase;
}

hr{
    border-color: ghostwhite;
}

.exemple{
    border: 2px solid #685995;
    background: #8F7ACC;
    padding: 10px;
    border-radius:5px;
    text-decoration: none;
    color: white;
}