* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Segoe UI";
}

/*---------------NAV----------------*/
nav {
    height: 8vh;
    padding: 10px 0px;
    display: flex;
    align-items: center;
}

nav img {
    height: 70px;
    margin-right: 50px;
    margin-left: 50px;
}

nav ul {
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    font-size: 25px;
    margin-right: 20px;
    color: #0093F5;
    text-transform: uppercase;
}

nav ul li a:hover {
    background: #0093F5;
}

/*---------------FIN/NAV----------------*/

/*---------------HEADER----------------*/
header {
    background: url("./img/abigail-keenan-27292.jpg") center center;
    background-size: cover;
    height: 80vh;
}

header .wrapper {
    position: absolute;
    right: 0;
    height: 100%;
    width: 25%;
}

header .content {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    justify-content: space-between;
}

header h1 {
    color: #ffffff;
    margin-top: 50px;
    font-weight: bold;
    font-size: 60px;
}

header button {
    background: #0093F5;
    padding:20px;
    color: #FFF;
    border: none;
    font-size: 25px;
    align-self: flex-start;
    margin-bottom: 50px;
    width: 250px;
}

/*---------------FIN|HEADER----------------*/

/*---------------OBJECTIVES----------------*/

.objectives {
    background: url("./img/waterCup.jpg") center center;
    background-size: cover;
}

.objectives .blue .item {
    align-self: center;
    text-align: center;
    width: 23%;
    z-index: 1000;
    color: white;
}

.objectives .blue .item h3 {
    margin-top:20px;
    margin-bottom: 25px;
    color: white;
    text-transform: uppercase;
    font-weight:400;
}

.objectives .blue .item p {
    color: whit;
}
.blue {
    display: flex;
    height: 100%;
    justify-content: space-around;
    background: rgba(0, 147, 245, 0.75);
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

/*---------------FIN|OBJECTIVES----------------*/

/*---------------MISSON----------------*/
.mission{
    padding:80px 80px;
}

.mission .content{
    width: 50%;
    margin: 0 auto;
}

.mission h2, .mission p{
    line-height: 2;
    text-align: center;
    color: grey;
    font-size: 1.2em;
}

.mission h2{
    text-transform: uppercase;
    color: #0093F5;
    font-family:"Segoe UI Semibold";
}
/*---------------FIN|MISSION----------------*/



.social_network {
    height: 30vh;
}

.social_network .join_us {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    color: grey;
}

.social_network .citation {
    margin: 100px auto 0px;
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
    color: grey;
    font-style: italic;
}

.social_network .icons{
    margin: 50px auto 0px;
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.fa{
    color: lightgray;
}


footer{
    background: #000;
    height: 8vh;
}

footer ul li{
    display: inline-block;
    color: grey;
    margin-left:25px;
    margin-top:30px;
}
